*{

    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    overflow-x: hidden;
    position: relative;
}

nav{
    display: flex;
    justify-content:  space-around;
    align-items: center;
    min-height: 8vh;
    background-color: lightgray;
}


.centideo{
    color:black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font: 20px;
    font-weight: bold;
}

.navlink{
display: flex;
justify-content: space-around;
width: 40%

}

.navlink li{
    list-style: none;
}

.navlink a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.mobilenav{
    display: none;
    cursor: pointer;
}

.mobilenav div{
    width: 20px;
    height: 3px;
    margin: 3px;
    background-color: black;
    
}


@media screen and (min-width:1500px) {
   
    h1{
        font-size: 48px;
    }
     
    h2{
        font-size: 39px;
    }

    .navlink{
        font-size: 18px;
    }

    .centideo{
        font-size: 18px;
    }
 }

@media screen and (min-width:1900px) {
   
    h1{
        font-size: 64px;
    }
     
    h2{
        font-size: 54px;
    }

    .navlink{
        font-size: 24px;
    }

    .centideo{
        font-size: 24px;
    }
 }


@media screen and (max-width:750px) {
   
    .navlink{
        width: 45%
    }
     
 }


@media screen and (max-width:645px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
    .navlink{
    overflow-x: hidden;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #C4c4c4;
    width: 40%;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in;
    transform: translateX(100%)
   }
    
   .navlinkli{
    opacity: 0;
   }

   .mobilenav {
    display: block;
   
   }
}

.nav-active{
    
    transform: translateX(0%);
}

.motivation{
    margin: 0%;
    display: flex;
    color: #C4c4c4;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 25%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-position: center;
    background-image: url("horzBg.jpg");
    width: 76%;
    height: 92vh;
    flex-direction: column;
    background-color: black;
    max-height: 1000px;
}



.bobo{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:768px) {
    .motivation {
        width: 75%;
        background-image: url('vertBg.jpg');
        background-position: top;
    }
}



.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 92vh;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    color: white;
}

.flex{
    display: flex;
}

.despre{
    margin: 0%;
    display: flex;
    color: #C4c4c4;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 25%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-position: center;
    background-image: url("horzBg.jpg");
    width: 76%;
    height: 92vh;
    flex-direction: column;
    background-color: black;
    max-height: 1000px;
    margin-top: 5vh;
}

.centerres{
  justify-content: space-around;

}

.calculatorbmi{
    max-height: 600px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    background-color: grey;
    color: white;
    height: 82vh;
    
}

.calculatorcalorii{
    max-height: 600px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    background-color: grey;
    color: white;
    height: 82vh;
}

@media screen and (max-width:768px) {

    .centerres{
        align-items: center;
        flex-direction: column;
    }

    .calculatorbmi{
        width: 80%;
        margin-top: 5vh;
    }

    .calculatorcalorii{
        width: 80%;
        margin-top: 5vh;
    }
}

.Calculeaza{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}